<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include("./partials/nav.ejs") %> 

    <!-- Header -->

    <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <!-- Seccion dinamica comienza aqui -->
          <% menuItems.forEach(item => { %>
          
            <h1 class="ps-center"> <%= item.nombre %> </h1>
            <p class="ps-text-grey"> <%= item.detalle %> $<%= item.precio.toFixed(2) %> </p> 
            <img src=" /images/<%= item.imagen %> " alt="">
            <p> <%= item.resumen %> </p>
            <a href="" onclick="history.back()" >Volver atrás</a>
          <% }) %>

        
        </div>
      </div>

      <!-- Impresion prueba items menu -->

      

      <!-- Footer -->
      <%- include("./partials/footer.ejs") %> 
    
  </body>
</html>
